<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeBbbxw_RbuvknlhcB7HA5W9Drf5Gkg1I</string>
	<key>GCM_SENDER_ID</key>
	<string>637180795054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daftarBelanja.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>first-app-c0009</string>
	<key>STORAGE_BUCKET</key>
	<string>first-app-c0009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637180795054:ios:81d44c3bfd3b29f4c3353f</string>
	<key>DATABASE_URL</key>
	<string>https://first-app-c0009-default-rtdb.firebaseio.com</string>
</dict>
</plist>